html,
body {
  height: 100%;
  width: 100%;
}

.client-logo {
  border: 10px solid #ffffff;
}

.no-decoration {
  text-decoration: none;
}

.navbar-logo {
  max-height: 30px;
}

.hero-image {
  max-width: 100%;
}

.border-white {
  border-color: white;
}

.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
}

.headshot {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
}

.team-page {
    max-width: 800px;
    margin: auto;
}


/* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 50px;
  }

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* The following two CSS classes enable smooth scaling on hover.
Should be sparingly applied, as it gets cheesy real quickly. */
.transition {
  transition: all 500ms;
}

.card-hover:hover {
  transform: scale(1.02);
}


/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid lightblue;
  border-radius: 4px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* Figure and caption */
figure {
  float: none;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

img.scaled {
  width: 100%;
}


pre {
  background-color: #f0f1f2;
  display: block;
  padding: 20px;
}

.font-roboto {
  font-family: 'Open Sans', sans-serif;
}


.font-bold {
  font-weight: bold;
}

.font-lighter {
  font-weight: lighter;
}

.no-decoration {
  text-decoration: none;
}

.blog-cover-image {
  max-width: 498px;
  max-height: 266px;
  object-fit: scale-down;
}

/*FOR COVER PAGE*/
img.hero-image.center{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  padding: 0px;
  object-fit: cover;
  pointer-events: none;
}

div.jumbotron.bg-light{
  padding: 0px;
  margin: 0;
  display: flex;
  height: 100%;
}

div.jumbotron.bg-light div.row{
  padding: 0px;
  margin: 0;
  height: 100%;      
}

div.jumbotron.bg-light div.row div.col-xl{
  padding: 0px;
  margin: 0;     
}

header.py-5.mb-5{
  margin-top: -10%;
  padding-bottom: 2rem !important;
}

/*.mb-5{
  padding-bottom: 3rem !important;
}FIXES BOTTOM PADDING OF HOMEPAGE - NOT NEEDED*/

/*FOR COVER-IMAGE BVAR*/
.cover-blogposts{
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0;
  object-fit: cover;
  pointer-events: none;
}

/*FIXING BOTTOM-NAVBAR*/
nav.fixed-bottom{
   position: sticky;
   margin-top: 1rem;
}

nav.fixed-top{
 /* filter: opacity(80%); FOR TRANSPARENCY EFFECT*/
}

/*AUTHOR INFO AND DATE*/
div.col-md-6.author_name{
  text-align: center;
}

div.col-md-6.author_date{
  text-align: center;
}

.blog-cover-container{
  padding: 0px 20px 5px 20px;
  text-align: center;
}

/* Sampling bars */
.blogpost progress {
	margin-bottom: 0.4em;
}

/* Inline code */
.blogpost code {
	color: rgb(33, 37, 41);
	background-color: #f7f3f3;
	padding: 0 3px;
	border-radius: 2px;
}

.blogpost img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
