{% macro render_teammate_card(teammate) %}
<style>
    .image-force-square {
        width: 85%;
        height: auto;
        object-fit: cover;
    }

    .img-center {
        display: block;
        margin: 0 auto;
    }

</style>
<div class="col-md-3 mb-5">
    <div class="card border-light h-100">
        <div class="card-body">
            <a href="{{ teammate._slug }}/">
                <img class="img-round card-img-top image-force-square img-center " src="{{ teammate.picture }}" alt="">
            </a>
            <h4 class="card-title text-center">{{ teammate.name }}</h4>
        </div>
        <div class="card-footer text-center">
            {% if teammate.github_url %}
            <a href="{{ teammate.github_url }}">
                <i class="fab fa-github"></i>
            </a>
            {% endif %}

            {% if teammate.twitter_url %}
            <a href="{{ teammate.twitter_url }}">
                <i class="fab fa-twitter"></i>
            </a>
            {% endif %}

            {% if teammate.linkedin_url %}
            <a href="{{ teammate.linkedin_url }}">
                <i class="fab fa-linkedin"></i>
            </a>
            {% endif %}

            {% if teammate.personal_url %}
            <a href="{{ teammate.personal_url }}">
                <i class="fas fa-globe"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_teammate_page(teammate) %}
<style>
    .image-force-square {
        width: 100%;
        height: 100%;
        object-fit: cover;
        justify-content: center;
    }

    .center {
        display: block;
        margin: 0 auto;
    }

</style>
<div class="col-md-4 mb-5">
    <div class="card border-light h-100">
        <div class="card-body">
            <div class="center">
                <img class="img-round card-img-top image-force-square" src="{{ teammate.picture }}" alt="">
            </div>

            <h4 class="card-title text-center">{{ teammate.name }}</h4>
            {%if teammate.blurb %}
            <p>{{ teammate.blurb }}</p>
            {% endif %}

            {%if teammate.specializations %}
            <h5>Specializations</h5>
            <p>{{ teammate.specializations }}</p>
            {% endif %}

            {% if teammate.location %}
            <h5>Location</h5>
            <p>{{ teammate.location }}</p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            {% if teammate.github_url %}
            <a href="{{ teammate.github_url }}">
                <i class="fab fa-github"></i>
            </a>
            {% endif %}

            {% if teammate.twitter_url %}
            <a href="{{ teammate.twitter_url }}">
                <i class="fab fa-twitter"></i>
            </a>
            {% endif %}

            {% if teammate.linkedin_url %}
            <a href="{{ teammate.linkedin_url }}">
                <i class="fab fa-linkedin"></i>
            </a>
            {% endif %}

            {% if teammate.personal_url %}
            <a href="{{ teammate.personal_url }}">
                <i class="fas fa-globe"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
