{% extends "layout.html" %}
{% from "macros/teammate.html" import render_teammate_card %}
{% block title %}Our Team - PyMC Labs{% endblock %}
{% block og_description %}Meet the team of statistical consultants at PyMC Labs.{% endblock %}
{% block body %}
<style>
    .img-round {
        border-radius: 50%;
    }

    .border-white {
        border-color: white;
    }

</style>
<div class="row">
    {% for teammate in this.children %}
    {% if teammate.visible %}
    {{ render_teammate_card(teammate) }}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
